@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.time {
  font-family: 'Special Elite';
  font-size: 8em;
  margin-top: 50vh;
  text-align: center;
}

.time-components {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.time-components button {
  padding: 5px 15px;
}

.time-components input {
  margin-left: 10px;
  padding: 5px;
}