@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.time {
  font-family: 'Special Elite';
  font-size: 11em;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* height: 98vh; */
  justify-content: center;
}

.center-row {
  align-items: center;
  display: flex;
  justify-content: center;
}

.button {
  border: 1px solid black;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
  padding: 6px 20px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 98vh;
  justify-content: center;
}

.center input {
  text-align: center;
  padding: 6px;
  margin: 6px;
}